{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use,
      // default to "createReactClass"
      "pragma": "React", // Pragma to use, default to "React"
      "version": "detect", // React version. "detect" automatically picks the version you have installed.
      // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
      // default to latest and warns if missing
      // It will default to "detect" in the future
      "flowVersion": "0.53" // Flow version
    },
    "propWrapperFunctions": [
      // The names of any function used to wrap propTypes, e.g. `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
      "forbidExtraProps",
      {
        "property": "freeze",
        "object": "Object"
      },
      {
        "property": "myFavoriteWrapper"
      }
    ],
    "linkComponents": [
      // Components used as alternatives to <a> for linking, eg. <Link to={ url } />
      "Hyperlink",
      {
        "name": "Link",
        "linkAttribute": "to"
      }
    ]
  },
  "rules": {
    "no-console": "warn",
    "no-template-curly-in-string": "warn",
    "curly": [
      "warn",
      "multi-line"
    ],
    "default-case": "warn",
    "eqeqeq": [
      "warn",
      "always"
    ],
    "dot-location": [
      "warn",
      "object"
    ],
    "no-else-return": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-lone-blocks": "error",
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-return-assign": "error",
    "no-useless-concat": "warn",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "require-await": "error",
    "yoda": [
      "error",
      "never",
      {
        "onlyEquality": true
      }
    ],
    "no-new-require": "error",
    "no-sync": "error",
    "array-bracket-spacing": [
      "warn",
      "always"
    ],
    "block-spacing": "warn",
    "brace-style": [
      "warn",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "comma-dangle": [
      "warn",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "ignore"
      }
    ],
    "comma-spacing": "warn",
    "comma-style": "warn",
    "computed-property-spacing": "warn",
    "eol-last": "warn",
    "func-call-spacing": "warn",
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1,
        "MemberExpression": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-array-constructor": "error",
    "no-multiple-empty-lines": "warn",
    "no-new-object": "error",
    "no-trailing-spaces": "warn",
    "no-unneeded-ternary": "error",
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "quotes": [
      "warn",
      "backtick"
    ],
    "require-jsdoc": [
      "off",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": true
        }
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "space-infix-ops": "warn",
    "spaced-comment": [
      "error",
      "always"
    ],
    "arrow-spacing": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "prefer-template": "warn",
    "rest-spread-spacing": "error",
    "symbol-description": "error",
    "template-curly-spacing": "error"
  }
}
